*{
    margin: 0;
    padding: 0;
}

.h-primary{
    color: #d0c174b4	;
}
.top{
    margin-top: 3%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.top h1{
    font-size: 110px;
    font-weight:lighter;
    position: relative;
}
.top p{
    border: 2px solid none;
    width: 190px;
    height: 70px;
    padding: 10px;
    font-size: 10px;
    text-align: center;
}
.left1{
    margin-right: 20%;
}

/*mid*/
.mid{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.mid h1{
    font-size: 110px;
    font-weight:lighter;
    position: relative;
}
.mid p{
    border: 2px solid none;
    width: 190px;
    height: 70px;
    padding: 10px;
    font-size: 10px;
    text-align: center;
}
.bottom{
    display: flex;
    flex-direction: row;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
}
.bottom-left p{
    border: 2px solid none;
    width: 250px;
    height: 70px;
    padding: 10px;
    font-size: 15px;
    padding-bottom: 50px;
}
.bottom-left h3{
    margin-left: 4%;
}
.bottom-right{
    margin-left: 20%;
    text-align: center;

}
.bottom-right h1{
    font-size: 130px;
    font-weight:lighter;
    position: relative;
}
.right-circles{
    float: right;
    margin-right: 9%;
    margin-top: 1%;
}
.right-circles li{
    color: #d0c174;
    list-style: none;
    border: 2px solid #d0c174;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.line{
    border: 2px solid #d0c174b4;
    background-color: #d0c174b4;
    height: 230px;
    width: 0px;
    float: right;
    margin-top: -2%;
    margin-right: 1%;
}
.row{
    margin-top: 8px;
}